<ion-content padding>
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label primary floating>Email</ion-label>
            <ion-input [class.invalid]="!email.valid && email.touched" type="email" [formControl]="email"></ion-input>
        </ion-item>
        <p class="helptext" padding>
            Enter your email address, once you have received your code via email, enter it below along with your new password.
        </p>
        <ion-item>
            <ion-label primary floating>Reset code</ion-label>
            <ion-input [class.invalid]="!code.valid && code.touched" type="text" [formControl]="code"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label primary floating>New password</ion-label>
            <ion-input [class.invalid]="!password.valid && password.touched" type="password" [formControl]="password"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label primary floating>Confirm password</ion-label>
            <ion-input [class.invalid]="!passwordConfirm.valid && password.touched" type="password" [formControl]="passwordConfirm"></ion-input>
        </ion-item>

        <div *ngIf="passwordConfirm.value != password.value && password.touched" class="error-message">Passwords do not match</div>
        <div *ngIf="!(passwordConfirm.value != password.value && password.touched)" class="error-message">&nbsp;</div>

        <button ion-button full color="balanced" [disabled]="!( (email.valid  && !code.value && !password.value && !passwordConfirm.value)  || (accountForm.valid && password.value === passwordConfirm.value))" type="submit">Submit</button>
    </form>
    <div class="forgot-password">
        <a (click)="cancelPasswordReset()">Cancel</a>
    </div>
</ion-content>
